/*##### Handy-Hochformat #####*/

@media screen and (min-width: 320px) and (max-width: 414px) {

    .logo {
        margin-top: 10em;
        margin-left: -10%;
        margin-right: auto;
        text-align: center;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .container-fluid {
        padding-right: 5.5%;
    }

    .col-xs-1 { /* Onlinestatus unten rechts */
        top: -3em;
        right: 3%;
    }

    .img-responsive.img-center {
        max-width: 100% !important;
    }

    .top100_home {
        margin-top: 5.5em;
    }

    .col-xs-4.col-sm-4.col-md-4.col-lg-4.text-center.ng-scope {
        width: 33%;
        padding: 0;
    }

    .col-sm-4_cam {
        width: 100%;
    }

    .col.col-xs-7_logon {
        width: 90%;
        margin-left: 15%;
    }

    .col-xs-7 {
        width: 100%;
        margin-left: 9.5%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-10 {
        width: 100%;
        margin: 0;
    }

    .col-xs-10_handy {
        width: 85%;
        margin-left: 8%;
        padding-top: 0.45em;
    }

    .col-xs-4_handy {
        width: 15%; /* Anordnung Icons */
        display: inline-flex;
        margin: 0 2.5%;
    }

    .col-xs-4_untere-reihe { /* Liegenschaften untere Reihe */
        float: left;
        width: 26%;
        margin-left: 5%;
        margin-top: 0;
    }

    .col-xs-12 {
        width: 100%;
        margin: 0;
        padding: 0 2%;
    }

    .col.col-xs-12.text-center { /* AGB */
        margin-left: 1.5%;
    }

    .buttonLogo {
        margin-left: 15%;
    }

    .btn-block {
        width: 205%;
    }

    a.touch-moveable.pull-right.hidden-xs.visible-sm.visible-md.visible-lg, .glyphicon {
        margin-top: -1.3em;
        display: block;
    }

    .col-xs-3.col-sm-2.col-md-2.col-lg-2.margin {
        margin: 0;
    }

    h3.colorhedlig.colorhedligiphne {
        font-size: 1.4em;
        color: #333;
        margin-top: 0.7em;
    }

    a.touch-moveable {
        margin-right: 5%;
    }

    .col.col-xs-2.hidden-xs {
        display: block !important;
        height: 8vh;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    .col-xs-12.ng-scope .img-responsive {
        max-width: 20%;
        margin-top: 1em;
        display: inline;
        float: left;
    }

    h4 {
        font-size: 12px;
    }

    .h4home {
        font-size: 12px;
        margin-top: 0.5em;
        text-align: center;
    }

    .top100 {
        margin-top: 5em;
    }

    #fragment-1 {
        width: 95% !important;
        margin: 0;
    }

    .col-xs-4_light.col-sm-4_light.col-md-4_light.col-lg-4_light.text-center {
        float: left;
        width: 32%;
        margin: 1em 0.6%;
    }

    .col-xs-4_light .cell {
        font-size: 6px;
        width: 100%;
    }

    .fav_cam {
        position: absolute;
        top: 3em;
        left: -75%;
    }

    .fav_light {
        position: absolute;
        top: 3em;
        left: -10%;
    }

}