.navigation-left {

    float: left;
}

.navigation-left-bottom {

    text-align: center;
}

.navigation-right {

    float: right;
}

.navigation-right-top {

}

.navigation-top {
    height: 5em;
}

.colorhed {
    color: #29377f;
    margin-top: 1em;
    font-weight: bold;
    font-size: 23px;
}

.top_header {
    margin-top: 8em;
}

.top100 {
    margin-top: 10em;
}

.top100_home {
    margin-top: 5em;
}

.col-xs-4_untere-reihe { /* Liegenschaften untere Reihe */
    float: left;
    width: 26%;
    margin-left: 5%;
    margin-top: 3em;
}