
/*##### Tablet-Hochformat #####*/
@media screen and (max-width: 768px) {

    .logo {
        margin-top: 15em;
        margin-left: 6%;
        margin-right: auto;
        text-align: center;
        width: 75%;
        max-width: 100%;
        height: auto;
    }

    .col-xs-1 { /* Onlinestatus unten rechts */
        right: -2.5%;
    }

    .container-fluid {
        padding-right: 2.5%;
    }

    .col-xs-4_untere-reihe { /* Liegenschaften untere Reihe */
        float: left;
        width: 27%;
        margin-left: 5%;
    }

    .col-sm-4_cam {
        width: 32%;
        float: left;
        margin: 0 6%;
    }

    .fav_cam {
        position: absolute;
        top: 0;
        left: -90%;
    }

    .col.col-xs-7_logon {
        width: 90%;
        margin-left: 12%;
    }

    .col-xs-7 {
        width: 120%;
        margin-right: 70%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-10 {
        margin-left: 18%;
        margin-top: -3em;
    }

    .col-xs-12 {
        width: 100%;
        margin-right: -20%;
    }

    .col-xs-12_cam {
        width: 100%;
        margin-right: -7%;
    }

    .col.col-xs-12.text-center { /* AGB */
        margin-left: 1.4%;
    }

    .buttonLogo {
        margin-left: 57%;
    }

    .col.col-xs-2.hidden-xs {
        background-color: white;
        opacity: 0.6;
        height: 100em;
        width: 20%;
        margin-top: -10em;
        margin-left: -3.5%;
        padding-top: 5em;
    }

    h3.colorhedlig.colorhedligiphne {
        margin-top: 0.1em;
        margin-right: 0;
    }

    a.touch-moveable.pull-right.hidden-xs.visible-sm.visible-md.visible-lg, .glyphicon {
        margin-top: 0;
        margin-left: 50%;
    }

    #fragment-1 {
        width: 135% !important;
        margin-left: -20%;
    }

    .cell {
        margin: 0.5em 0 2em -5% !important;
        width: 105%;
        text-align: center;
    }

}