<div class="container-fluid">
    <div class="row center-block">
        <div class="col col-xs-12">
            <!-- Logo -->
            <div class="row">
                <div class="col col-xs-12 center-block">
                    <div class="col col-xs-7_logon">
                        <img ng-src="images/logos/HomeWatch-Logo.png" class="logo img-responsive" alt="logo">
                    </div>
                </div>
            </div>

            <!-- Einloggen -->
            <div class="row">
                <div class="col col-xs-12 center-block">
                    <div class="col col-xs-6">
                        <button ng-click="startLiegenschaften()"
                               class="btn btn-custom btn-lg btn-block buttonLogo"
                               style=" margin-bottom: 10px;" value="Einloggen">
                            Einloggen
                        </button>
                    </div>
                </div>
            </div>
            <!-- AGB | Impressum -->
            <div class="row">
                <div class="col col-xs-12 text-center">
                    <a class="touch-moveable" href="#/agb"
                       data-toggle="modal"
                       data-target=".forget-modal">
                        AGB
                    </a>
                    <i>|</i>
                    <a class="touch-moveable" href="#/Impressum"
                       data-toggle="modal"
                       data-target=".forget-modal">
                        Impressum
                    </a>
                </div>
            </div> <!-- row ende -->

        </div>
    </div>
</div>