<div class="text-center push">
    <div class="col col-xs-12">
        <div class="img-responsive center-block">
            <div data-type="push" data-device="{{model.Name}}" 
                data-icon="fa-chevron-up" data-background-icon="fa-square-o" 
                data-set="off">
            </div>
            <div data-type="push" data-device="{{model.Name}}" 
                data-icon="fa-chevron-down" data-background-icon="fa-square-o" 
                data-set="on">
            </div>
             <div class="row">
                <span ng-if="model.Attributes.alias != null" data-type="label" class="cell">{{model.Attributes.alias}}</span>
                <span ng-if="model.Attributes.alias == null" data-type="label" class="cell">{{model.Name}}</span>
            </div>
        </div>
    </div>
</div>