<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="cell ">
        <div class="doublebox-v versh ">
            <div data-type="push" data-device="{{model.Name}}"
                 data-icon="fa-chevron-up" data-background-icon="fa-square-o"
                 data-set="off" class="versh">
            </div>
            <div data-type="push" data-device="{{model.Name}}"
                 data-icon="fa-chevron-down" data-background-icon="fa-square-o"
                 data-set="on" class="versh">
            </div>
            <div data-type="label" class="h4wid">{{model.Attributes.alias}}</div>
            <div data-type="label" data-device="dummy_Rollade_Garten_oben"
                 data-get="state"
                 data-size="60px"
                 data-unit=""
                 class="versh">
            </div>

        </div>

    </div>
</div>