<div class="text-center water">

    <div class="col col-xs-12">
        <div class="img-responsive center-block">
            <div data-type="switch"
                 data-device="{{model.Name}}"
                 data-get-off="((?!Wert1).)*"
                 data-get-on="Wert1"
                 class="fa-3x left25"
                 data-icon="fa-eraser"></div>
            <div class="row">
                <span ng-if="model.Attributes.alias != null" data-type="label" class="cell">{{model.Attributes.alias}}</span>
                <span ng-if="model.Attributes.alias == null" data-type="label" class="cell">{{model.Name}}</span>
            </div>
        </div>
    </div>

</div>