<div ng-init="init()">
    <div cnd-navigations-top ng-header="{{header}}" ng-location="{{location}}"></div>
    <div class="clearfix"></div>

    <div class="top100_home">
        <div class="row">
            <div class="col col-xs-12">
                <div class="col col-xs-2 hidden-xs">
                    <div ng-if="navButton.length > 0">
                        <div cnd-navigations-left ng-nav-button="{{navButton}}"></div>
                    </div>
                </div>
                <div class="col col-xs-10">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                    <h1 class="">Ihre perfekte Sicherheislösung.</h1>
                                    <p class="text">Auf Wunsch übernehmen wir den Schutz Ihres vernetzen Haushalts </br>
                                        durch das Secure - Paket.
                                    </p>
                                    <p class="text">Die Basis dieses Pakets ist SafetyNet. Dies ist ein Produkt aus
                                        unserem </br>
                                        IT - Systemhaus, das die hoch sensible Kommunikation über das Inter-</br>
                                        net mit Ihrem SmartHome absichert, sodass kein Unberfugter an Ihrem</br>
                                        Datenfluss teilnehmen kann. Hier bringen wir die gebalte Erfahrung</br>
                                        aus 16 Jahren ein, in denen wir die Datenkommunikation zwischen den</br>
                                        Standorten namhafter Unternehmen abgesichert haben.
                                    </p>
                                    <p class="text" style="margin-bottom: 40px;">Einfach das Zusatzpaket Secure kaufen,
                                        einen neuen professionell</br>
                                        abgesicherten Router erhalten, anschließen und Ihr SmartHome durch</br>
                                        die App oder das Internet bedienen und durch </br>
                                        unsere hochspezialisierten Techniker per Fernwartung absichern</br>
                                        lassen.
                                    </p>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
                                            <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-5 col-lg-offset-6"
                                                 style="width:165px;">
                                                <a href="http://homewatch-smarthome.de/services/#secure"
                                                   class="touch-moveable btn btn-lg btn-primary btn-block sizeletraHiphnemedida"
                                                   style="  margin-top: -15px;   margin-bottom: 41px;">jetzt
                                                    bestellen</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>