
<div id="sidebar-wrapper" class="wrapper " >
    <ul class="sidebar-nav text-center main-menu">
    <li class="margenladoiz">
            <a ng-href="#/home" class=" touch-moveable text-center margtopF margtopFi ">
                <span> 
                    <img style="height:110px" class="img-responsive img-center" ng-src="{{headerImage}}" title="Home">
                </span>
            </a>
        </li>
        <li>
            <a class=" touch-moveable hidden-lg visible-md visible-xs visible-sm"
               href="javascript:window.history.back();">
                <div class="arrow1">
                    <img class="img-responsive img-center" ng-src="images/arrow.png" alt="">
                </div>
            </a>
        </li>
        <li ng-repeat="item in rooms">
            <a ng-click="buttonNavClick(item)" class="touch-moveable">
                <h2 class="colorhg colorhgip">{{item}}</h2>
            </a>
        </li>

    </ul>
</div>
