<div id="wrapper" ng-init="init()">

    <!-- Navigation TOP START -->
    <div cnd-navigations-top ng-header="{{header}}" ng-location="{{location}}"></div>
    <!-- Navigation TOP END -->

    <!-- Sidebar left START -->
    <div id="sidebar-wrapper" class="wrapper ">
        <div cnd-navigations-left ng-nav-button="{{sidebar_left}}"></div>
    </div>
    <!-- Sidebar left END -->

    <!-- Page Content START-->
    <div id="page-content-wrapper" class="row-e">
        <div class="container-fluid">
            <div class="row  text-center verwaliphne" style="margin-top: 70px; ">
                <h4 class="h4home">##{{sidebar_preference.length}}##</h4>
                <div cnd-sidebar_-preference ng-sidebar-preference="{{sidebar_preference}}"></div>
            </div>
        </div>
    </div>
    <!-- Page Content END -->

</div>
