<div ng-init="init()">
    <div cnd-navigations-top ng-header="{{header}}" ng-location="{{location}}"></div>
    <div class="clearfix"></div>

    <div class="top100_home">
        <div class="row">
            <div class="col col-xs-12">
                <!-- Navigation-Left -->
                <div class="col col-xs-2 hidden-xs pull-left">
                    <div class=" hidden-xs" ng-if="navLeft.length > 0">
                        <div cnd-navigations-left ng-nav-button="{{navLeft}}"></div>
                    </div>
                </div>
                <!-- Widgets -->
                <div class="col col-xs-12 col-md-10 pull-right">
                    <figure class=" col-xs-3" ng-repeat="item in home">
                        <a ng-click="buttonClick(item)" class="touch-moveable">
                            <img class="img-responsive img-center" ng-src="{{item.image}}"
                                 alt="">
                            <figcaption>
                                <h4 class="h4home"> {{item.alias}} </h4>
                            </figcaption>
                        </a>

                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
