<div id="wrapper" ng-init="init()">

    <!-- Navigation TOP START -->

    <div cnd-navigations-top ng-header="{{header}}" ng-location="{{location}}"></div>

    <!-- Navigation TOP END -->

    <!-- Sidebar left START -->
    <div id="sidebar-wrapper" class="wrapper ">
        <div cnd-navigations-left ng-sidebar-left="{{sidebar_left}}"></div>
    </div>
    <!-- Sidebar left END -->
    <!-- Page Content START -->
    <div id="page-content-wrapper" class="row-e">
        <a class=" touch-moveable margtopF margtopFi">
            <div class="nav_down touch-moveable"></div>
        </a>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margeI" data-ng-repeat="item in home">
                    <a ng-click="buttonClick(item)" class="touch-moveable">
                        <img class="img-responsive joimh center-block margtopJL" ng-src="{{item.image}}" alt="">
                        <h4 class="icon-list h4wid2 home_big"> {{item.alias}} </h4>
                    </a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-ip">
                    <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                        <footer>
                            <div class="sol_home">
                                <div data-type="homestatus" data-device='HomeStatus' data-version='' class="toggle3"
                                     style="display:none;">
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content END -->

</div>