<div ng-init="init()">
    <div cnd-navigations-top ng-header="{{header}}" ng-location="{{location}}"></div>
    <div class="clearfix"></div>

    <div class="top100_home">
        <div class="row">
            <div class="col col-xs-12">
                <div class="col col-xs-2 hidden-xs">
                    <div ng-if="navButton.length > 0">
                        <div cnd-navigations-left ng-nav-button="{{navButton}}"></div>
                    </div>
                </div>
                <div class="col col-xs-10">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                    <h1 class="">Bestellen Sie eine Clubmitgliedschaft.</h1>

                                    <p class="text">Stellen Sie sich kommen nach einem stressigen
                                        Tag nach Hause, die Badewanne ist schon vollgelaufen
                                        im Backofen brutzelt bereits Ihr Wohnraum
                                        ist wohling beheizt und beleuchtet.
                                    </p>
                                    <p class="text" style="margin-bottom: 40px;">Mit HomeWatch das zur Realität - Steuerm Sie alle
                                        Funktionen lhres Heims jederzeit und überall, komfortabel
                                        über die App oder das Internet und sparen Sie durch die
                                        bedürfnisoptimierte Licht und Heizungssteuerung bares Geld.
                                    </p>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
                                            <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-5 col-lg-offset-6"
                                                 style="width:165px;">
                                                <a href="http://homewatch-smarthome.de/shop/services/secure-mtl/"
                                                   class="touch-moveable btn btn-lg btn-primary btn-block sizeletraHiphnemedida"
                                                   style="  margin-top: -15px;   margin-bottom: 41px;">jetzt
                                                    bestellen</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>