<div class="text-center dimmer">
    <div data-type="volume"
         data-device='{{Name}}'
         data-min='0'
         data-max='100'
         data-tickstep='4'
         data-get='STATE'
         data-set='pct'
         class="cell small dim-tick myCanvas3 iphone5_widget dimm_column"
         id="{{Name}}">
    </div>
    <div class="row">
        <span ng-if="Attributes.alias != null" data-type="label" class="cell text-ellipsis">{{Attributes.alias}}</span>
        <span ng-if="Attributes.alias == null" data-type="label" class="cell text-ellipsis">{{Name}}</span>
    </div>
</div>
