<div  ng-init="init()">
    <!-- Navigation TOP START -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div cnd-navigations-top ng-header="{{header}}" ng-location="{{location}}"></div>
        </div>
    </nav>
    <!-- Navigation TOP END -->

    <div id="page-content-wrapper" class="row-e">
        <div class="container-fluid">
            <div class="row  text-center margen-leing  margen-iphone" style="margin-top: 25px; ">
                <!-- Liegenschaften START -->
                <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-7 margeI" ng-repeat="item in results">
                    <a ng-click="click(item)" class="touch-moveable">
                        <figure>
                            <img class="img-responsive center-block margtopMull imgpne" ng-src="images/guiico5.png"
                                 alt="">
                            <figcaption>
                                <h4 class="icon-list ligenletraiphone">{{item.Attributes.alias}}</h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <!-- Liegenschaften END -->

                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 ">
                    <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 ">
                        <hr>
                    </div>
                </div>
                <div class="col-lg-offset-1 ">
                    <!-- Hausmeister usw. START -->
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margtopMullup " ng-repeat="item in standardButton">
                        <a ng-click="defaultClick(item)" class="touch-moveable">
                            <figure ng-show="item.show=='true'">
                                <img class="img-responsive img-center" ng-src="{{item.image}}" alt="">
                                <figcaption>
                                    <h4 class="icon-list"> {{item.alias}} </h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                    <!-- Hausmeister usw. END -->
                </div>
            </div>
        </div>
    </div>
</div>