<div class="text-center energy">
    <div class="col col-xs-12">
            <div data-type="switch"
                 data-device="{{model.Name}}"
                 class="fa-stack fa-3x margtopF fa-2x">
            </div>
            <div class="row">
                <span ng-if="model.Attributes.alias != null" data-type="label" class="cell">{{model.Attributes.alias}}</span>
                <span ng-if="model.Attributes.alias == null" data-type="label" class="cell">{{model.Name}}</span>
            </div>
    </div>
</div>