    <ul class="sidebar-nav text-center main-menu wrapperrespo" >
        <li class="margenladoiz">
            <a ng-href="#/Liegenschaften" class=" touch-moveable text-center margtopF margtopFi ">
                <span> <img style="height:110px" class="img-center" ng-src="images/home_main.png"
                            title="Liegenschaften"></span>
            </a>
        </li>
        <li>
            <a class=" touch-moveable  margtopF margtopFi">
                <span class="nav_left touch-moveable"></span>
            </a>
        </li>
        <li ng-repeat="item in sidebar_left">
            <a ng-href="{{item.Internals.LINK}}"
               class="touch-moveable margtopF margtopFi">
                <span ng-switch="item.Attributes.icon">
                    <img ng-switch-when="shop" ng-src="images/einkaufswagen.png" class="img-center" alt="">
                    <img ng-switch-when="hausmeister" ng-src="images/tool_main.png" class="img-center"  alt="">
                    <img ng-switch-when="assessing" ng-src="images/pen_main.png" class="img-center"  alt="">
                    <img ng-switch-when="ssecure" ng-src="images/hand.png" class="img-center"  alt="">
                    <img ng-switch-default ng-src="images/hand.png" class="img-center"  alt="">
                </span>
            </a>
        </li>
    </ul>
