<div id="sidebar-wrapper" class="wrapper ">
    <ul class="sidebar-nav text-center main-menu">
        <li class="margenladoiz">
            <a ng-href="#/Liegenschaften" class=" touch-moveable text-center margtopF margtopFi ">
                <span> <img style="height:110px" class="img-responsive img-center" src="images/home_main.png"
                            title="Liegenschaften"></span>
            </a>
        </li>
        <li>
            <a class=" touch-moveable  margtopF margtopFi">
                <span class="nav_left touch-moveable"></span>
            </a>
        </li>
        <li ng-repeat="item in navButton">
            <a ng-href="{{item.Internals.LINK}}"
               class="touch-moveable margtopF margtopFi">
                <span>
                    <img ng-if="item.Attributes.icon == 'shop'" ng-src="images/einkaufswagen.png" class="img-responsive img-center" alt="">
                    <img ng-if="item.Attributes.icon == 'hausmeister'" ng-src="images/tool_main.png" class="img-responsive img-center"  alt="">
                    <img ng-if="item.Attributes.icon == 'assessing'" ng-src="images/pen_main.png" class="img-responsive img-center"  alt="">
                    <img ng-if="item.Attributes.icon == 'secure'" ng-src="images/hand.png" class="img-responsive img-center"  alt="">
                </span>
            </a>
        </li>
    </ul>
</div>
