<section ng-switch="model.Attributes.genericDeviceType">
    <!-- Widgets Site -->
    <section ng-switch-when="site">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_site" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-site ng-kind="{{model}}">
            </div>
        </div>
    </section>
    <!-- Widgets Camera -->
    <section ng-switch-when="camera">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="col col-xs-1 pull-left">
                <div class="fav_cam" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-camera ng-kind="{{model}}">
            </div>
        </div>
    </section>

    <!-- Widgets Switch -->
    <section ng-switch-when="switch">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_swi" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-switch ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="switch_hm">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_swi" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-switch-hm ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="switch_gira">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_swi" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-switch-gira ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets dimmer -->
    <section ng-switch-when="dimmer">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col col-xs-1 pull-left">
                <div class="fav_dimm" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-dimmer ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="dimmer_hm">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col col-xs-1 pull-left">
                <div class="fav_dimm" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-dimmer-hm ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="dimmer_gira">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col col-xs-1 pull-left">
                <div class="fav_dimm" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-dimmer-gira ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets blind -->
    <section ng-switch-when="blind_hm">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_vol" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-blind-hm ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="blind_gira">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_vol" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-blind-gira ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets light -->
    <section ng-switch-when="light_hm">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_light" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-light-hm ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="light_gira">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_light" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-light-gira ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="light">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_light" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-light ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets heating -->
    <section ng-switch-when="heating_hm">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_light" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-heating-hm ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="heating_gira">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col col-xs-1 pull-left">
                <div class="fav_light" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-heating-gira ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets motion -->
    <section ng-switch-when="motion_hm">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col col-xs-1 pull-left">
                <div class="fav_light" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-motion-hm ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="motion_gira">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_light" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-motion-gira ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets Window -->
    <section ng-switch-when="window_hm">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col col-xs-1 pull-left">
                <div class="fav_con" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-window-hm ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="window_gira">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col col-xs-1 pull-left">
                <div class="fav_con" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-window-gira ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets Smoke -->
    <section ng-switch-when="smoke_hm">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col col-xs-1 pull-left">
                <div class="fav_con" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-smoke-hm ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="smoke_gira">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_con" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-smoke-gira ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets Water -->
    <section ng-switch-when="water_hm">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_con" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-water-hm ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <section ng-switch-when="water_gira">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_con" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-water-gira ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets energy -->
    <section ng-switch-when="energy_hm">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <article class="col col-xs-12">
                <div class="col col-xs-1 pull-left">
                    <div class="fav_therm" cnd-widgets-favoriten ng-name="{{model.Name}}"
                         ng-like="{{model.Attributes.like}}">
                    </div>
                </div>
                <div cnd-widgets-energy-hm ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
                </div>
            </article>
        </div>
    </section>

    <!-- Widgets Thermostat -->
    <section ng-switch-when="thermostat">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <article class="col col-xs-12">
                <div class="col col-xs-1 pull-left">
                    <div class="fav_therm" cnd-widgets-favoriten ng-name="{{model.Name}}"
                         ng-like="{{model.Attributes.like}}">
                    </div>
                </div>
                <div cnd-widgets-thermostat ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
                </div>
            </article>
        </div>
    </section>

    <!-- Widgets Volume -->
    <section ng-switch-when="volume">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_vol" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-volume ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets Aircon -->
    <section ng-switch-when="aircon">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_air" cnd-widgets-favoriten ng-name="{{model.Name}}" ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-aircon ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
    </section>

    <!-- Widgets Push -->
    <section ng-switch-when="push">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_push" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-push ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets Contact -->
    <section ng-switch-when="contact">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_con" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-contact ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <!-- Widgets Sensor -->
    <section ng-switch-when="Sensor">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col col-xs-1 pull-left">
                <div class="fav_default" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-sensor ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
    <!-- Widgets Actor -->
    <section ng-switch-when="Actor">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col col-xs-1 pull-left">
                <div class="fav_default" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-actor ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>

    <!-- Widgets dummy_sec -->
    <section ng-switch-when="dummy_sec">
        <section ng-switch="model.Attributes.alarmDevice">
            <!-- Widgets Sensor -->
            <section ng-switch-when="Sensor">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="col col-xs-1 pull-left">
                        <div class="fav_default" cnd-widgets-favoriten ng-name="{{model.Name}}"
                             ng-like="{{model.Attributes.like}}">
                        </div>
                    </div>
                    <div cnd-widgets-sensor ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
                    </div>
                </div>
            </section>
            <!-- Widgets Actor -->
            <section ng-switch-when="Actor">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="col col-xs-1 pull-left">
                        <div class="fav_default" cnd-widgets-favoriten ng-name="{{model.Name}}"
                             ng-like="{{model.Attributes.like}}">
                        </div>
                    </div>
                    <div cnd-widgets-actor ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
                    </div>
                </div>
            </section>
            <!-- Widgets Default -->
            <section ng-switch-default=>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="col col-xs-1 pull-left">
                        <div class="fav_default" cnd-widgets-favoriten ng-name="{{model.Name}}"
                             ng-like="{{model.Attributes.like}}">
                        </div>
                    </div>
                    <div cnd-widgets-dummy-sec ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
                    </div>
                </div>
            </section>
        </section>
    </section>

    <!-- Widgets Default -->
    <section ng-switch-default=>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center center-block">
            <div class="col col-xs-1 pull-left">
                <div class="fav_default" cnd-widgets-favoriten ng-name="{{model.Name}}"
                     ng-like="{{model.Attributes.like}}">
                </div>
            </div>
            <div cnd-widgets-default ng-attributes="{{model.Attributes}}" ng-name="{{model.Name}}">
            </div>
        </div>
    </section>
</section>
