<div ng-init="init()">
    <div cnd-navigations-top ng-header="{{header}}" ng-location="{{location}}"></div>
    <div class="clearfix"></div>

    <div class="top100_home">
        <div class="row">
            <div class="col col-xs-12">
                <!-- Navigation-Top(right) -->
                <div class="row  text-center padiimagns">
                    <div class="col-xs-offset-2 col-sm-offset-1 ">
                        <div class=" col-xs-10 col-sm-11 hidden-lg hidden-md   ">
                            <div cnd-navigations-right-top ng-nav-button="{{navRightButton}}"></div>
                        </div>
                    </div>

                    <!-- Navigation-Left -->
                    <div class="hidden-xs hidden-sm col-md-2 col-g-2  navigation-left">
                        <div cnd-navigations-left-home ng-header-image="{{headerImage}}" ng-nav-button="{{navButton}}">
                        </div>
                    </div>

                    <!-- Widgets Row -->
                    <div class="col col-xs-8">
                        <div class="row">
                            <div ng-repeat="items in result">
                                <div ng-repeat="item in items" cnd-widgets-fields ng-kind="{{item}}"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Navigation-Right -->
                    <div class="hidden-xs hidden-sm col-md-2 col-g-2 sidebardere1 navigation-right">
                        <div cnd-navigations-right ng-nav-button="{{navRightButton}}"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
